<!DOCTYPE html>
<html>
<head>
  <title>Csa</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller].parameterize %>_controller">

<div class="header">
  <%= render :partial => 'sessions/login' %>
  <div class="navigation">
    <%= render_navigation %>
  </div>

  <% flash.each do |key, value| %>
        <span id="flash" class="flash_<%= key %>">
          <span id="flash_message"><%= value %></span>
        </span>
  <% end %>

</div>
<div class="content">
  <%= yield %>
</div>

<div id="footer">
</div>

</body>
</html>
